<div id="modal_Model" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title">Customer</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <form autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group d-none">
                        <input type="hidden" id="Id" name="Id" />
                    </div>
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" required name="Nama" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" required name="UserName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" required name="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Telp</label>
                        <input type="text" name="Telp" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Alamat</label>
                        <textarea type="text" name="Alamat" class="form-control"></textarea>
                    </div>
                    <div class="form-group show-only-type-post">
                        <label>Password</label>
                        <input type="password" name="Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Foto KTP</label>
                        <input type="file" name="FotoKTP" accept="image/*" class="form-control" />
                    </div>
                    <div class="form-group show-only-type-get show-only-type-put">
                        <img id="fotoKTP" class="img-thumbnail" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary show-only-type-post show-only-type-put">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isetup_Model;
    let fotoKTPkey = idGenerator();
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_Model = new iSetup({
            id: 'modal_Model',
            url : '@Url.Action("Data")',
            param: e => {
                var data = new FormData();
                const foto = e.target['FotoKTP'].files[0];
                if (foto) {
                    fotoKTPkey = idGenerator();
                }
                data.append('FotoKTP', foto);
                const m = getModelFromForm(e.target, isetup_Model);
                Object.keys(m).forEach(x => {
                    data.append(x, m[x]);
                });
                return data;
            },
            success: (r, t) => {
                $(t.id).modal('hide');
                itable_Model.refresh();
            },
            modalDataOnSuccess: (r, t) => {
                const form = $(t.id).find('form')[0];
                setFormFromModel(form, r.data, t);
                const url = '@Url.Action("Media", new { Id = "@Id" })';
                $('#fotoKTP').attr('src', url.replace("@@Id", r.data.id) + '?id=' + fotoKTPkey);
            },
            modalOnReady: (e, t) => {
				const form = $(t.id).find('form')[0];

				if (t.type === 'POST') {
                    form['Id'].value = 0;
				}
            },
            otherAjax: {
                contentType: false,
                processData: false,
            }
        });

        isetup_Model.generateUrlKey = () => {
            isetup_Model.form[0]['UrlKey'].value = idGenerator();
        };
    });
</script>

