@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}

<header>
    <p class="text-danger">You do not have access to this resource.</p>
</header>

<div class="form-group">
    <a asp-page="./Login" class="btn btn-light btn-block">Sign in</a>
</div>