@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}

<p class="text-center">
    Please check your email to reset your password.
</p>

<div class="form-group">
    <a asp-page="./Login" class="btn btn-light btn-block">Sign in</a>
</div>