@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul class="navbar-nav flex-row order-1 order-lg-2 flex-1 flex-lg-0 justify-content-end align-items-center">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item nav-item-dropdown-lg dropdown dropdown-user h-100">
            <a href="#" class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle d-inline-flex align-items-center h-100" data-toggle="dropdown">
                <img src="~/global_assets/images/placeholders/placeholder.jpg" class="rounded-pill" height="34" alt="">
                <span class="d-none d-lg-inline-block ml-2">@User.Identity?.Name</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                <a href="javascript:document.getElementById('logout-form').submit();" class="dropdown-item">
                    <i class="icon-switch2"></i> Logout
                </a>
                <form id="logout-form" class="d-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>